{% load static %}

<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item text-center active">
            <div class="d-none d-md-block px-3 text-secondary">
                <h5>Our users love the app!</h5>
                <p>Thank Boubyan for making my bank on my pocket! Now I can travel without fears</p>
            </div>
            <br/>
            <img src="{% static 'images/global-finance-copy-5.png' %}" alt="..." class="rounded-circle mb-5"
                 width="100px" height="100px">
            <span class="text-secondary">Fahad Mohammed</span>
        </div>
        <div class="carousel-item text-center">
            <div class="d-none d-md-block px-3 text-secondary">
                <h5>Our users love the app!</h5>
                <p>Thank Boubyan for making my bank on my pocket! Now I can travel without fears</p>
            </div>
            <br/>
            <img src="{% static 'images/global-finance-copy-5.png' %}" alt="..." class="rounded-circle mb-5"
                 width="100px" height="100px">
            <span class="text-secondary">Fahad Mohammed</span>
        </div>
        <div class="carousel-item text-center">
            <div class="d-none d-md-block px-3 text-secondary">
                <h5>Our users love the app!</h5>
                <p>Thank Boubyan for making my bank on my pocket! Now I can travel without fears</p>
            </div>
            <br/>
            <img src="{% static 'images/global-finance-copy-5.png' %}" alt="..." class="rounded-circle mb-5"
                 width="100px" height="100px">
            <span class="text-secondary">Fahad Mohammed</span>
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>